<p>home-page works!</p>
<app-nav-bar></app-nav-bar>

    <header>
        <div class="container">
            <h1>Prepaid Mobile Recharge</h1>
            
        </div>
    </header>
    <main>
        <div class="container">
            <section class="hero">
                <h2>Quick and Easy Mobile Recharge</h2>
                <p>Recharge your prepaid mobile in just a few clicks.</p>
                <a href="mobile" class="btn">Recharge Now</a>
            </section>
            <section class="recharge-form">
                <h3>Recharge Your Mobile</h3>
                <form>
                    <label for="mobile-number">Mobile Number</label>
                    <input type="text" id="mobile-number" name="mobile-number" required>
                    
                    <label for="operator">Operator</label>
                    <select id="operator" name="operator" required>
                        <option value="operator1">jio</option>
                        <option value="operator2">Vi</option>
                        <option value="operator3">Airtel</option>
                    </select>
                    
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" name="amount" required>
                    
                    <button type="submit" class="btn">Recharge</button>
                </form>
            </section>
        </div>
    </main>
   
